@font-face {
    font-family: 'bvu8z';
    src: url('veb8fonts/bvu8z.woff2') format('woff2'),
        url('veb8fonts/bvu8z.woff') format('woff'),
        url('veb8fonts/bvu8z.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hinwi8';
    src: url('veb8fonts/hinwi8.woff2') format('woff2'),
        url('veb8fonts/hinwi8.woff') format('woff'),
        url('veb8fonts/hinwi8.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'u8z';
    src: url('veb8fonts/u8z.woff2') format('woff2'),
        url('veb8fonts/u8z.woff') format('woff'),
        url('veb8fonts/u8z.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

