@font-face {
    font-family: 'hinDi52';
    src: url('hinDi52.woff2') format('woff2'),
        url('hinDi52.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hinDi52h';
    src: url('hinDi52h.woff2') format('woff2'),
        url('hinDi52h.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

