@font-face {
    font-family: 'u5z';
    src: url('veb8fonts/u5z.woff2') format('woff2'),
        url('veb8fonts/u5z.woff') format('woff'),
        url('veb8fonts/u5z.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

